body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

/* CARD */
#card {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* MAGYAR */
#hu {
    font-size: 216px;
    font-weight: bold;

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* OROSZ */
#ru {
    font-size: 108px;

    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.9;
}

/* COUNTER */
#counter {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    opacity: 0.4;
}

/* MENU BUTTON */
#menuBtn {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 96px;
    z-index: 1000;
    cursor: pointer;
    opacity: 0.6;
}

#menuBtn:hover {
    opacity: 1;
}

/* MENU PANEL */
#menuPanel {
    position: fixed;
    top: 55px;
    left: 15px;
    background: rgba(0,0,0,0.7);
    padding: 12px;
    border-radius: 10px;
    z-index: 999;
    color: #fff;
    backdrop-filter: blur(8px);
}

.menu-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-item input {
    padding: 6px;
    border-radius: 6px;
    border: none;
}

.menu-item button {
    padding: 6px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}